*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
.grid-container{
	max-width: 1140px;
	display: grid;
	grid-template-columns: repeat(4, 260px);
	grid-template-rows: repeat(2, minmax(240px, auto));
	grid-auto-rows: 240px;
	gap: 60px;
	margin: 82px auto 88px auto;
}
.news-item{
	&__img{
		width: 100%;
	}
	&__des{
		max-width: 217px;
		color: #000000;
		font-size: 14px;
		font-weight: 500;
		margin-top: 15px;
	}
}
